# If this is your first time writing a language grammar, check out:
#   - http://manual.macromates.com/en/language_grammars

'scopeName': 'source.todo'
'name': 'TODO'
'fileTypes': [
  'todo'
]
'patterns': [
  # Undone
  {
    'match': '^\\s*\\[ \\]',
    'name': 'string'
  },
  
  # Done
  {
    'begin': '^\\s*\\[x\\]',
    'end': '(?=^\\s*\\[[x !?]\\])',
    'name': 'comment'
  },
  
  # Urgent
  {
    'match': '^\\s*\\[!\\]'
    'name': 'keyword.source'
  },
  
  # To test
  {
    'match': '^\\s*\\[\\?\\]',
    'name': 'support.constant'
  },
  
  # Warnings
  {
    'match': '/!\\\\',
    'name': 'keyword.source'
  }
]
